<div class="col-6 profile" >
    <img  class="col-6 images" src="./assets/test.jpg"/>
    <p>Name: Sebas Bakker</p>
    <p>Location: Amsterdamn</p>
    <p>Website: www.kwetter.nl</p>
    <p>Bio: Student at Fontys Hogeschool Eindhoven. Creator of Kwetter and everything else.</p>
</div>
<div class="col-6 tweets">
    <table class="table">
        <tr>
            <td>
                <p>A lot of things happening #Wowa</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Just bought a new game! #Eldenring</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Anyone heard this joke already?</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Discord spotify and wikipedia are down!</p>
                <b>Two hours ago</b>
            </td>
        </tr>
    </table>
</div>
<div class="col-6 followers">
    <div class="details">
    <a href="profile">43 Following </a> <a href="profile">20 Followers</a>
    <br>
    <a href="profile">3954 Kweets</a>
    </div>
</div>
<div class="col-6 following"></div>