<div class="col-6 profile" >
    <img  class="col-6 images" src="./assets/test.jpg"/>
    <p>Name: Sebas Bjakker</p>
</div>
<div class="col-6 profileDetails">
    <div class="details">
        <p>Name: Sebas Bjakker</p>
        <p>Location: Amsterdamn</p>
        <p>Website: www.kwetter.nl</p>
        <p>Bio: Student at Fontys Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perspiciatis, a sequi quod eaque dolores amet aut, eveniet cupiditate non provident voluptatem neque quaerat porro tenetur ex voluptas ipsam beatae sapiente.</p>
    </div>
</div>
<div class="col-6 tweets">
    <table class="table">
        <tr>
            <td>
                <p>Tweet one</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tweet one</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tweet one</p>
                <b>Two hours ago</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tweet one</p>
                <b>Two hours ago</b>
            </td>
        </tr>
    </table>
</div>
<div class="col-6 followers">
    <div class="details">
    <a href="profile">43 Following </a> <a href="profile">20 Followers</a>
    <br>
    <a href="profile">3954 Kweets</a>
    </div>
</div>
<div class="col-6 following"></div>